@{
    ViewBag.Title = "Configuration Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var apps = ViewBag.Apps as IEnumerable<Properties.Model.Application>;
    var app = ViewBag.App as Properties.Model.Application;
    var all = ViewBag.Configurations as IEnumerable<Properties.Model.Configuration>;
    var label = new string[] { "label-success", "label-warning", "label-important", "label-info", "label-inverse" };
}
@section Head{
    <style type="text/css">
        div.page-header h2 a
        {
            text-decoration: none;
            color: #232323;
        }
        div.row div.span2
        {
            padding: 5px;
            overflow: hidden;
            max-height: 75px;
            text-overflow: ellipsis;
            line-height: 25px;
            word-break: break-all;
        }
        div.row div.span2 a
        {
            text-decoration: none;
            color: #232323;
        }
        .pop-title
        {
            color: #d14;
        }
        .pop-content
        {
            line-height: 25px;
            word-break: break-all;
        }
    </style>
}
<header class="jumbotron subhead" id="overview">
    <div class="btn-group">
        <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
            <i class="icon-th-large"></i>
            @app.Name
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @foreach (var a in apps)
            {
            <li><a href="@Url.AppConfigs(a)" title="create at @a.CreateTime"><span class="label label-info">@a.ID</span> @a.Name</a></li>
            }
        </ul>
    </div>
    <hr />
    <h1>
        Configuration
    </h1>
    <p class="lead">
    </p>
    @using (Html.BeginForm())
    {
        <div class="input-append control-group">
            @Html.Hidden("appId", app.ID)
            <input type="text" name="name" placeholder="configuration name" /><button type="submit" class="btn" onclick="return check()"><i class="icon-plus"></i>&nbsp;New Configuration</button>
        </div>
    }
    <br />
    @if (all.Count() > 0)
    {
        <div class="subnav">
            <ul class="nav nav-pills">
                @foreach (var c in all)
                {
                    <li><a href="#@c.Name"><i class="icon-list-alt"></i> @c.Name</a></li>
                }
            </ul>
        </div>
    }
</header>
@foreach (var c in all)
{
    <section id="@c.Name">
        <div class="page-header">
            <h2>
                <a href="@Url.Config(c)">@c.Name</a>
                <small>@c.Description</small>
                @for (var i = 0; i < c.Flags.Count(); i++)
                { 
                    <span class="label @label[i % 5]">@c.Flags.ElementAt(i)</span>    
                }
            </h2>
        </div>
        <div class="row">
            @for (var j = 0; j < c.Properties.Count(); j++)
            {
                if (j == 20) { break; }
                var p = c.GetProperty(c.Properties.ElementAt(j));
                <div class="span2 well" 
                data-original-title="<span class='pop-title'>@p.Name</span>" 
                data-content="
                    <div class='pop-content'>
                        @for (var i = 0; i < c.Flags.Count(); i++)
                        {
                            <span class='label @label[i % 5]'>@c.Flags.ElementAt(i)</span>
                            <div>@p[c.Flags.ElementAt(i)]</div>
                        }
                    </div>
                    "> <a href="@string.Concat(Url.Config(c), "#", c.Name)"><code>@p.Name</code>
                        @p.Description
                        <p>
                            @p.Value
                        </p>
                    </a>
                </div>
            }
        </div>
        <a href="@Url.Config(c)">>> More</a>
    </section>
}
@section Bottom{
    <script type="text/javascript">
        $(function () {
            $('div.span2').popover({ delay: 300 });

            // fix sub nav on scroll
            //http://jsfiddle.net/baptme/ydY6W/
            var $win = $(window)
            var $nav = $('.subnav');
            var navTop = $('.subnav').length && $('.subnav').offset().top - 40;
            var isFixed = 0;
            processScroll()
            $win.on('scroll', processScroll);
            // hack sad times - holdover until rewrite for 2.1
            $nav.on('click', function () { if (!isFixed) setTimeout(function () { $win.scrollTop($win.scrollTop() - 47) }, 10) });
            function processScroll() {
                var i, scrollTop = $win.scrollTop()
                if (scrollTop >= navTop && !isFixed) {
                    isFixed = 1
                    $nav.addClass('subnav-fixed')
                } else if (scrollTop <= navTop && isFixed) {
                    isFixed = 0
                    $nav.removeClass('subnav-fixed')
                }
            }
        });

        function check() {
            var b = $.trim($('input[name="name"]').val()) != '';
            $('.control-group')[b ? 'removeClass' : 'addClass']('error');
            return b;
        }
    </script>
}
